<div style="width:500px">
    <p style="margin-left:200px">~<p><b>Got a Mac?</b> 
    Get yourself an easy-to-use <b>application for keeping journals and diaries</b>, 
    <a href="http://www.codingrobots.com/memoires/">Mémoires</a>, written by the 
    creators of <em>I Write Like</em>! Saving your memories and returning to them has 
    never been so enjoyable before.
  <p><a href="http://www.codingrobots.com/memoires/">
    <b>Learn more and download Mémoires for free!</b>
    </a>

    <p style="margin-left:200px">~</p>
</div>

