<div style="width:500px">
    <p style="margin-left:200px">~<p><b>Got a Mac?</b> 
    Get yourself an easy-to-use <b>application for keeping journals and diaries</b>, 
    <a href="http://www.codingrobots.com/memoires/">Mémoires</a>, written by the 
    creators of <em>I Write Like</em>! Saving your memories and returning to them has 
    never been so enjoyable before.
  <p><a href="http://www.codingrobots.com/memoires/">
    <b>Learn more and download Mémoires for free!</b>
    </a>

<table style="border:1px solid #ccc;width:600px; line-height:1">
  <tr>
    <td style="padding: 10px">
      <a href="http://goo.gl/9PB4Bn">
      <img src="/static/diary-book.png" width="141" height="198" alt="Everything you need to know about keeping a diary - ebook">
      </a>
    </td>
    <td style="padding:10px">
      <p><b>Get a FREE ebook from <i>I Write Like</i> creators:</b></p>
      <div style="color:#dd4814">
        <p style="line-height:1;font-size:18px; margin-bottom: 0">Everything You Need to Know About</p>
        <p style="line-height:1;font-size:28px; margin-top: 0">Keeping a Diary</a></p>
      </div>
      <ul style="font-size:13px; padding-left:20px">
        <li>Learn how to write a diary.</li>
        <li>Why should you keep a diary even if you already have a blog?</li>
        <li>What to do if you haven't updated your diary in a while.</li>
        <li>Information about diary software.</li>
      </ul>
      <p style="font-size: 18px"><a href="http://goo.gl/9PB4Bn">Download Now</a></p>
    </td>
  </tr>
</table>

</div>

