<br>
<br>

<table id="journalite-ad" style="border:2px solid #AA40FF; color: #57169A; width:600px; font-family: sans-serif; line-height: 1.3">
  <tr>
    <td style="padding:10px; padding-left: 30px">
      <p><b style="color: #FF1D77">Improve your writing skills by keeping a journal!</b><br>
      Our new Windows app will help you (try it for free):</p>
      <p style="font-size:32px; margin: 0">Journalite</p>
      <ul style="list-style: none; font-size:14px; padding-left: 0">
        <li><span style="color: #FF1D77">✔</span> Create as many entries per day as you like.</li>
        <li><span style="color: #FF1D77">✔</span> Change formatting style; add lists.</li>
        <li><span style="color: #FF1D77">✔</span> Add pictures.</li>
        <li><span style="color: #FF1D77">✔</span> (soon) Encrypt journals with password.</li>
      </ul>
      <div style="margin: 30px 0">
        <a href="http://www.codingrobots.com/journalite/?utm_source=iwl.me&utm_medium=ad&utm_campaign=IWriteLike" style="background:#57169A; color:#fff; padding: 10px 15px; border-radius: 3px; text-decoration: none; font-size: 16px">Download Now</a> &nbsp; or &nbsp; <a href="http://www.codingrobots.com/journalite/?utm_source=iwl.me&utm_medium=ad&utm_campaign=IWriteLike" style="color: #16499A">Learn more</a>
      </div>
    </td>
    <td style="padding: 10px; background: #f3f3f3; width: 160px; text-align: center">
      <a href="http://www.codingrobots.com/journalite/?utm_source=iwl.me&utm_medium=ad&utm_campaign=IWriteLike">
        <img src="/static/journalite-icon.png" width="128" height="128" alt="Journalite">
      </a>
    </td>
  </tr>
</table>

<table id="memoires-ad" style="display: none; border:2px solid #AA40FF; color: #57169A; width:600px; font-family: sans-serif; line-height: 1.3">
  <tr>
    <td style="padding:10px; padding-left: 30px">
      <p><b style="color: #FF1D77">Improve your writing skills by keeping a journal!</b><br>
      Our new Mac app will help you (try it for free):</p>
      <p style="font-size:32px; margin: 0">Mémoires</p>
      <ul style="list-style: none; font-size:14px; padding-left: 0">
        <li><span style="color: #FF1D77">✔</span> Create as many entries per day as you like.</li>
        <li><span style="color: #FF1D77">✔</span> Change fonts and colors.</li>
        <li><span style="color: #FF1D77">✔</span> Add pictures and draw sketches.</li>
        <li><span style="color: #FF1D77">✔</span> Securely encrypt journals with password.</li>
      </ul>
      <div style="margin: 30px 0">
        <a href="http://www.codingrobots.com/memoires/?utm_source=iwl.me&utm_medium=ad&utm_campaign=IWriteLike" style="background:#57169A; color:#fff; padding: 10px 15px; border-radius: 3px; text-decoration: none; font-size: 16px">Download Now</a> &nbsp; or &nbsp; <a href="http://www.codingrobots.com/memoires/?utm_source=iwl.me&utm_medium=ad&utm_campaign=IWriteLike" style="color: #16499A">Learn more</a>
      </div>
    </td>
    <td style="padding: 10px; background: #f3f3f3; width: 160px; text-align: center">
      <a href="http://www.codingrobots.com/memoires/?utm_source=iwl.me&utm_medium=ad&utm_campaign=IWriteLike">
        <img src="/static/memoires-icon.png" width="128" height="128" alt="Mémoires">
      </a>
    </td>
  </tr>
</table>

<script>
  var isMac = navigator.platform.toUpperCase().indexOf('MAC')!==-1;
  if (isMac) {
    document.getElementById('journalite-ad').style.display = 'none';
    document.getElementById('memoires-ad').style.display = 'block';
  }
</script>
