<!DOCTYPE html>
<head>
  <title>I Write Like @|title|</title>
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png" />
  <link href='http://fonts.googleapis.com/css?family=IM+Fell+English+SC' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="26VPeNd9tqQMfZu55LDitD0OE0yF9Oi4AwEKid4LaQU" />
  <style>
    @include-template{style.css}
  </style>
</head>
<body>
 <div class="header">
   <a href="/" class="logo"><img src="/static/iwl.png" width="90" height="80" alt="I Write Like"></a>
   <h1><a href="/">I Write Like</a></h1>

   <ul class="menu">
      <li><a href="/" @when{@equal?{@|menu|analyzer}class="active"}>Analyzer</a>
      <li><a href="/newsletter" @when{@equal?{@|menu|newsletter}class="active"}>Newsletter</a>
      <li><a href="http://astore.amazon.com/iwritelike-20">Store</a><a href="http://blog.iwl.me">Blog</a>
      <li><a href="http://twitter.com/iwritelike">Twitter</a>
      <li><a href="http://www.facebook.com/pages/I-Write-Like/136572043029777">Facebook</a>
   </ul>
 </div>

@body

<div class="footer">
  <p>Questions? Suggestions? Contact us: <a href="mailto:iwl@"@"codingrobots.com">iwl@"@"codingrobots.com</a>
  <p>Handcrafted by <a href="http://www.codingrobots.com"><em>Coding Robots</em></a>
  <br>Version @|app-version*| &#183; @|app-date*|</p>
</div>

@include-template{analytics.html}

</body>
</html>