<div class="content">

  <div class="alignleft">
  <script type='text/javascript'>
  amzn_assoc_ad_type = 'banner';
  amzn_assoc_tracking_id = 'blogjetblog-20';
  amzn_assoc_marketplace = 'amazon';
  amzn_assoc_region = 'US';
  amzn_assoc_placement = 'assoc_banner_placement_default';
  amzn_assoc_linkid = '7EQHOO2QRBQQGWYX';
  amzn_assoc_campaigns = 'kindlereadingapps';
  amzn_assoc_p = '48';
  amzn_assoc_banner_type = 'category';
  amzn_assoc_isresponsive = 'false';
  amzn_assoc_banner_id = '0ZM285VY3K22HC36YE02';
  amzn_assoc_width = '728';
  amzn_assoc_height = '90';
  </script>
  <script src='//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1'></script>
</div>

<p><b>Check <em style="background:#FFFFE0">which famous writer you write like</em> with this statistical analysis tool, which analyzes your word choice and writing style and compares them with those of the famous writers.</b>
<p>Any text in English will do: your latest blog post, journal entry, comment, chapter of your unfinished book, etc.
@when{@short? <span style="background:red; color:white">}
For reliable results paste at least a few paragraphs (not tweets).
@when{@short? </span>}
<p>Paste your text here:
<form name="index" method="post">
<textarea name="text"></textarea><br>
<input class="btn" type="submit" name="btn" value=" Analyze " /> <label for="btn" class="note">&larr; click this button to start analysis</label></form>

<p>The program doesn't store or use your input for any other purposes.

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IWL Home -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4893148983766256"
     data-ad-slot="6795714320"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IWL Homepage Links -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:15px"
     data-ad-client="ca-pub-4893148983766256"
     data-ad-slot="3673477525"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
