<div class="content">

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IWL Home Upper -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4893148983766256"
     data-ad-slot="2057143525"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<p><b>Check <em style="background:#FFFFE0">which famous writer you write like</em> with this statistical analysis tool, which analyzes your word choice and writing style and compares them with those of the famous writers.</b> 
<p>Any text in English will do: your latest blog post, journal entry, comment, chapter of your unfinished book, etc. 
@when{@short? <span style="background:red; color:white">}
For reliable results paste at least a few paragraphs (not tweets).
@when{@short? </span>}
<p>Paste your text here:
<form name="index" method="post"> 
<textarea name="text"></textarea><br> 
<input class="btn" type="submit" name="btn" value=" Analyze " /> <label for="btn" class="note">&larr; click this button to start analysis</label></form> 

<p>The program doesn't store or use your input for any other purposes.

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IWL Home -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-4893148983766256"
     data-ad-slot="6795714320"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- IWL Homepage Links -->
<ins class="adsbygoogle"
     style="display:inline-block;width:468px;height:15px"
     data-ad-client="ca-pub-4893148983766256"
     data-ad-slot="3673477525"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

</div>
