<div class="content">

  <div class="alignleft">
<script type="text/javascript" language="javascript" src="//c.amazon-adsystem.com/aax2/getads.js"></script>
<script type="text/javascript" language="javascript">
//<![CDATA[
aax_getad_mpb({
  "slot_uuid":"dc6e0928-2a5f-44ab-a398-14d978174ea6"
});
//]]>
</script>
</div>

<p><b>Check <em style="background:#FFFFE0">which famous writer you write like</em> with this statistical analysis tool, which analyzes your word choice and writing style and compares them with those of the famous writers.</b>
<p>Any text in English will do: your latest blog post, journal entry, comment, chapter of your unfinished book, etc.
@when{@short? <span style="background:red; color:white">}
For reliable results paste at least a few paragraphs (not tweets).
@when{@short? </span>}
<p>Paste your text here:
<form name="index" method="post">
<textarea name="text"></textarea><br>
<input class="btn" type="submit" name="btn" value=" Analyze " /> <label for="btn" class="note">&larr; click this button to start analysis</label></form>

<p>The program doesn't store or use your input for any other purposes.

<script type="text/javascript" language="javascript" src="//c.amazon-adsystem.com/aax2/getads.js"></script>
<script type="text/javascript" language="javascript">
//<![CDATA[
aax_getad_mpb({
  "slot_uuid":"4017e4a7-0f81-4948-af24-2dc94ba7af90"
});
//]]>
</script>

</div>
