<div id="subscribe" style="font: 13px/1.4 Georgia; position: fixed; top:20px; right:20px; padding: 5px 15px; background: #ffffe0; border: 3px double #FFA500; width: 300px;">
<img src="/static/robot.png" style="float:left;margin-top: 20px; margin-left:-87px" width="100" height="202">
<div style="float:right;margin-right:-5px;color:#777;cursor:pointer" onclick="document.getElementById('subscribe').style.display='none'"> &times; </div>
<h2>Become a better writer!</h2> 
Subscribe to our <em>awesome</em> free newsletter to learn how to become a better writer and receive monthly tips on writing.</p> 
<form method="post" action="//lists.codingrobots.net/?p=subscribe&amp;id=4" name="subscribeform" id="subForm">
  <table border=0>
  <tr>
    <td>
      <div class="required"><b>Email address:</b></div>
    </td>
    <td class="attributeinput">
      <input type=text name=email value="" size="20" />
    </td>
  </tr>
  <tr>
    <td>
      <div class="required"><b>Your name:</b></div>
    </td>
    <td class="attributeinput">
     <input type="text" name="attribute1"  class="attributeinput" size="20" value="" />
    </td>
  </tr>
  </table>
  <input type="hidden" name="htmlemail" value="1" />
  <input type="hidden" name="list[5]" value="signup" />
  <input type="hidden" name="listname[5]" value="I Write Like"/>
  <input type="hidden" name="VerificationCodeX" value="" size="20" />
  <input type="submit" name="subscribe" value="Subscribe" />
</form>
<table>
<tr>
<td><img src="/static/ebook.png" width="110" height="147" alt="Free ebook"></td>
<td style="padding-left:5px;"><p style="margin-top:0;font-size:13px;color:#FF4500"><b>Subscribe now to download a free classical ebook on writing:</b>
	<p><b>Short Story Writing:</b> <span style="color:#777">A Practical Treatise on the Art of the Short Story</span> <em>By Charles Raymond Barrett, Ph. B.</em></td>
</tr>
</table>
<p style="font-size: 12px; color: #999; line-height: 1.1"><em>We respect your privacy: email addresses are never sold, and you can unsubscribe at any time.</em></p> 
</div>
