<div class="content">
<h2>Become a better writer!</h2> 
Subscribe to our <em>awesome</em> free newsletter to learn how to become a better writer and receive monthly tips on writing.</p> 
<!--
<form action="http://codingrobots.createsend.com/t/r/s/uijyjl/" method="post" id="subForm">
<table cellspacing="0" cellpadding="4" border="0">

<tr valign="top">
<td align="right"><label for="name"><strong>Your name:</strong></label></td>
<td><input type="text" name="cm-name" id="name" size="20" /></td>
</tr>
<tr valign="top">
<td align="right"><label for="uijyjl-uijyjl"><strong>Email address:</strong></label></td>
<td><input type="text" name="cm-uijyjl-uijyjl" id="uijyjl-uijyjl" size="20" /></td>
</tr>
<tr valign="top">
<td></td>
<td><input type="submit" value="Subscribe" /></td>
</tr>
</table>
</form>
-->

<form method="post" action="http://lists.codingrobots.net/?p=subscribe&id=4" name="subscribeform">
  <table border=0>
  <tr>
    <td>
      <div class="required"><b>Email address:</b></div>
    </td>
    <td class="attributeinput">
      <input type=text name=email value="" size="40" />
    </td>
  </tr>
  <tr>
    <td>
      <div class="required"><b>Your name:</b></div>
    </td>
    <td class="attributeinput">
     <input type="text" name="attribute1"  class="attributeinput" size="40" value="" />
    </td>
  </tr>
  </table>
  <input type="hidden" name="htmlemail" value="1" />
  <input type="hidden" name="list[5]" value="signup" />
  <input type="hidden" name="listname[5]" value="I Write Like"/>
  <input type="hidden" name="VerificationCodeX" value="" size="20" />
  <input type="submit" name="subscribe" value="Subscribe" />
</form>

<br>
<table style="width:400px">
<tr>
<td><img src="/static/ebook.png" width="110" height="147" alt="Free ebook"></td>
<td style="padding-left:15px;"><p style="margin-top:0;font-size:13px;color:#FF4500"><b>Subscribe now to download a free classical ebook on writing:</b>
	<p><b>Short Story Writing:</b> <span style="color:#777">A Practical Treatise on the Art of the Short Story</span> <br><em>By Charles Raymond Barrett, Ph. B.</em></td>
</tr>
</table>
<p style="font-size: 12px; color: #999; line-height: 1.1"><em>We respect your privacy: email addresses are never sold, and you can unsubscribe at any time.</em></p> 
</div>
