@include-template{newsletter-ad.html}

<div class="content">
	<p>Below are the results of analysis of my text. <a href="/">Analyze your text?</a></p>

<script type="text/javascript">
    google_ad_client = "ca-pub-4893148983766256";
    google_ad_slot = "5995135523";
    google_ad_width = 336;
    google_ad_height = 280;
</script>
<!-- IWL Share Above -->
<script type="text/javascript"
src="//pagead2.googlesyndication.com/pagead/show_ads.js">
</script>

	<h2>My Badge</h2>

    @include-template{badge.html}

	<br>
	<!--Facebook-->
  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fwritelike&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=229474567230199" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
	<!--End Facebook-->


<!-- Place this tag where you want the +1 button to render -->
<div class="g-plusone" data-annotation="inline" data-href="http://iwl.me"></div>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>

	<h2>What&rsquo;s this?</h2>

	<p><b>I Write Like</b> checks which famous writer you write like by analyzing your word choice and writing style and comparing them with those of the famous writers.

	<p style="font-size:16px"><a href="/" style="padding: 5px; background: #FFFFE0"><b>Learn which writer you write like and get yourself a badge like this!</b></a></p>

	<hr>
    @include-template{writer-books.html}

    @include-template{ad.html}

</div>
