@include-template{newsletter-ad.html}

<div class="content">
	<p>Below are the results of analysis of my text. <a href="/">Analyze your text?</a></p>

	<h2>My Badge</h2>

    @include-template{badge.html}

	<br>
	<!--Facebook-->
	<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fiwl.me&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
	<!--End Facebook-->

	<h2>What&rsquo;s this?</h2>

	<p><b>I Write Like</b> checks which famous writer you write like by analyzing your word choice and writing style and comparing them with those of the famous writers.

	<p style="font-size:16px"><a href="/" style="padding: 5px; background: #FFFFE0"><b>Learn which writer you write like and get yourself a badge like this!</b></a></p>

	<hr>
    @include-template{writer-books.html}

    @include-template{ad.html}

</div>
