<h2>@writer's Books</h2>

<script charset="utf-8" type="text/javascript">
amzn_assoc_ad_type = "responsive_search_widget";
amzn_assoc_tracking_id = "blogjetblog-20";
amzn_assoc_link_id = "OWWQGLHZZNK4TVTP";
amzn_assoc_marketplace = "amazon";
amzn_assoc_region = "US";
amzn_assoc_placement = "";
amzn_assoc_search_type = "search_widget";
amzn_assoc_width = 520;
amzn_assoc_height = 600;
amzn_assoc_default_search_category = "Books";
amzn_assoc_default_search_key = "@writer";
amzn_assoc_theme = "light";
amzn_assoc_bg_color = "FFFFFF";
</script>
<script src="//z-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&amp;Operation=GetScript&amp;ID=OneJS&amp;WS=1&amp;MarketPlace=US"></script>
